*,
*::before,
*::after {
  box-sizing: border-box;
  margin: auto;
}

body {
  margin: auto;
  font-family: "Noto Sans JP", sans-serif;
  line-height: 1.6;
}

img {
  max-width: 100%;
  margin: auto;
  display: block;
}

h1,
h2,
h3,
p {
  margin: 0;
}

section {
  padding: 20px opx;
}

.container {
  width: 85%;
  max-width: 65em;
  margin: 0 auto;
}

.split {
  display: flex;
  gap: 1em;
  flex-wrap: wrap;
  justify-content: center;
  padding-bottom: 3em;
}
.split > * {
  flex-basis: 30%;
  min-width: 15em;
}

.spacing > * + * {
  margin-top: var(--spacer, 2rem);
}

.btn {
  display: inline-block;
  text-decoration: none;
  color: var(--clr-text, white);
  font-weight: 700;
  text-transform: uppercase;
  font-size: 1.125rem;
  padding: 0.5em 1.25em;
  background: var(--clr-accent, blue);
  border-radius: 0.25em;
  transition: transform 250ms ease-in-out;
}

.btn:hover,
.btn:hover {
  transform: scale(1.1);
  opacity: 0.9;
}

.primary-title {
  font-size: 3.6rem;
  font-size: clamp(2.5rem, calc(3.7vw + 1rem), 4.5rem);
  line-height: 1;
  text-transform: uppercase;
}

.section-title {
  text-align: center;
  font-size: clamp(2rem, calc(3.5vw + 1rem), 3rem);
  line-height: 1;
  color: #17353d;
  padding: 3rem 0;
}

.hero {
  color: #fff;
  margin-top: -5rem;
  text-align: center;
  padding: 12em 0 8em;
  background: #222;
}
@supports (background-blend-mode: multiply) {
  .hero {
    background-image: url(../images/HeroImage.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
    background-position: center center;
    background-blend-mode: multiply;
    --clr-accent: #faa700;
  }
}

.feature {
  background: #eee;
}
.feature__item {
  display: block;
  position: relative;
  transform: scale(0.85);
  transition: transform 250ms ease-in-out;
  text-align: center;
  text-decoration: none;
  color: #777777;
  font-size: 1.05em;
}
.feature__item:hover, .feature__item:focus {
  transform: scale(1);
}
.feature__item::after {
  content: "";
  position: absolute;
  padding: 100% 100% 0 0;
  border-radius: 50%;
  top: 0%;
  left: 15%;
  background-color: #0048ce95;
  z-index: -1;
}
.feature__item, .feature__item p {
  padding-top: 2em;
}
.feature-name {
  font-weight: bolder;
  font-size: 1.3em;
  text-transform: uppercase;
  color: #0354bf;
  display: block;
}

.product {
  padding: 3em;
  border-radius: 1em;
  margin-bottom: 3em;
  text-align: justify;
  --clr-accent: limegreen;
}
.product__title {
  font-size: 2rem;
  font-weight: 900;
  text-transform: uppercase;
  color: white;
  line-height: 1;
  text-shadow: 0 0 0.2 rgba(0, 0, 0, 0.2);
}
.product__image {
  border-radius: 5%;
  margin: -4rem auto auto auto;
}
@media (min-width: 45em) {
  .product {
    text-align: left;
  }
  .product p {
    max-width: 60%;
  }
  .product__image {
    float: right;
    margin: auto;
    width: 35%;
    margin-top: -5em;
    shape-outside: url(../images/repair.png);
  }
  .second-card .product__image {
    float: left;
  }
}

.first-card {
  background: #A26143;
}
.first-card, .first-card p {
  color: lightgrey;
}

.second-card {
  background: #D2A643;
}
.second-card p {
  text-align: justify;
}
.second-card h3 {
  color: #000;
}
@media (min-width: 45em) {
  .second-card {
    text-align: right;
  }
  .second-card p {
    margin-left: 25rem;
    max-width: 100%;
    text-align: right;
  }
}

.third-card {
  background: #0F2A64;
  color: lightgrey;
}

.hero-img {
  margin: -5em auto 5em auto;
  width: 100%;
  max-width: 720px;
}

/*============== navBar =============*/
header {
  background-color: transparent;
}

form {
  margin: 1em;
  font-size: 16px;
}

nav ul {
  list-style-type: none;
  display: flex;
  flex-direction: column;
}

nav ul li a {
  color: #ffffff;
  display: inline-block;
  display: -webkit-inline-box;
  display: -moz-inline-box;
  display: -ms-inline-flexbox;
  padding: 0.8rem 1rem;
  text-decoration: none;
}

nav ul li:hover {
  background: rgba(255, 255, 255, 0.4);
}

.speedy-logo {
  float: left;
  height: 5rem;
  margin: auto;
  padding: 0.6rem;
  display: flex;
}

.header-nav {
  display: none;
  position: absolute;
  width: 180px;
  height: 400px;
  margin: -1em 0 0 -1em;
  padding: auto;
  padding-top: 10px;
  background-color: #00043c;
  -webkit-font-smoothing: antialiased;
  transform-origin: 0% 0%;
  transform: translate(100%, 0);
  transition: transform 0.5s cubic-;
}

.header-nav.nav_open {
  transition: all 1s ease-in-out;
  display: block;
}

.clearfix {
  overflow: auto;
}

.clearfix::after {
  content: "";
  clear: both;
  display: table;
}

/*Creation of the Hamburger menu button and effects*/
.menu-btn {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 0rem 0rem 0rem auto;
  width: 5rem;
  height: 5rem;
  cursor: pointer;
}

.menu-btn_burger {
  width: 2rem;
  height: 4px;
  background-color: #ffffff;
  border-radius: 5px;
  transition: all 0.5s ease-in-out;
}

.menu-btn_burger::before,
.menu-btn_burger::after {
  content: "";
  position: absolute;
  width: 2rem;
  height: 4px;
  background-color: #ffffff;
  border-radius: 5px;
  transition: all 0.5s ease-in-out;
}

.menu-btn_burger::before {
  transform: translateY(-0.7rem);
}

.menu-btn_burger::after {
  transform: translateY(0.7rem);
}

/*Hmaburger button animation*/
.menu-btn.open .menu-btn_burger {
  transform: translateX(-2rem);
  background: transparent;
}

.menu-btn.open .menu-btn_burger::before {
  transform: rotate(45deg) translate(1.4rem, -1.4rem);
}

.menu-btn.open .menu-btn_burger::after {
  transform: rotate(-45deg) translate(1.4rem, 1.4rem);
}

.btn-main {
  margin: 1rem;
  background-color: red;
  color: #f9f9f9;
  padding: 1rem;
  border-radius: 5px;
  border: 0px;
}

.btn-main:hover {
  background-color: #b20000;
  cursor: pointer;
}

#social {
  margin: auto;
  padding: 2rem;
  text-align: center;
  height: auto;
  background-color: #ffffff;
  color: black;
}

.subscribe-input {
  max-width: 50%;
  border-bottom: 2px solid lightblue;
  border-top: none;
  border-right: none;
  border-left: none;
  background-color: transparent;
  margin: 10px;
  padding: 0.5em;
  width: 100%;
  max-width: 20em;
}

.social-content p {
  margin: auto;
  font-size: 14px;
  font-weight: 100;
  max-width: 30em;
}

.subscribe-btn {
  padding: 5px;
  border: 0px;
  color: #2CA3DE;
  background-color: transparent;
}

/*Screen adjustments for a responsive results*/
@media only screen and (min-width: 45em) {
  nav {
    height: 5rem;
  }

  nav ul {
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
  }

  .header-nav {
    display: flex;
    float: right;
    position: relative;
    width: auto;
    margin: auto;
    height: 5em;
    transform: translate(0, 0);
    background-color: transparent;
  }

  nav ul li {
    flex: 1 0 auto;
    text-align: center;
  }

  /*effect on links when hover*/
  .header-nav a {
    position: relative;
    color: #ffffff;
    transition: 0.5s;
  }

  .header-nav a::before,
.header-nav a::after {
    content: "";
    position: absolute;
    width: 0;
    height: 2px;
    background-color: #2e2e2e;
    transition: 0.5s;
    opacity: 0;
  }

  .header-nav a::before {
    background-color: red;
    top: 0;
    left: 0;
  }

  .header-nav a::after {
    background-color: blue;
    bottom: 0;
    right: 0;
  }

  .header-nav a:hover::before,
.header-nav a:hover::after {
    opacity: 1;
    width: 100%;
    transition: 0.5s;
  }

  .header-nav li:hover,
.header-nav li a:hover {
    background-color: transparent;
    color: #b6b6b6;
    transition: all 0.2s ease-in-out;
  }

  .menu-btn {
    display: none;
  }
}

/*# sourceMappingURL=main.css.map */
